.vision {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(rgba(14, 11, 139, 0.67), rgba(14, 11, 139, 0.67)), url("../../../Assets/Home/vision-pic.jpg");
}
.vision-content {
    width: 700px;
    text-align: justify; 
}
.vision-content h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 85px;
}
.vision-content p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    text-align: justify;
    text-transform: lowercase;
    color: #FFFFFF;
    margin-top: 65px;
}