.logo-css {
  float: left;
  padding-top: 70px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 60px;
  list-style: none;
  margin: 0;
  padding-top: 65px;
}

nav ul li a {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
}

nav ul li a:hover {
  color: #0A66C2;
}

.landing-container {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
}

.landing-container .landing-parent h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 45px;
    line-height: 60px;
    color: #fff;
    margin-top: -50px;
    margin-bottom: 20px;
  }

.landing-container .landing-parent p {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    margin-bottom: 30px;
  }

.landing-container .landing-parent {
    width: 650px;
  }

.AC {
  color: #00BCD7;
}
.primary-btn:hover {
  color: aliceblue;
  border: 2px solid #fff;
  background-color: #0A66C2;
}
